#gallery-list-section {
    position: absolute;
    height: 70%;
    width: 100%;
}

.gallery-list-header {
    position: relative;
    width: 65%;
    height: 100%;
    transform: rotate(270deg);
}

@media only screen and (max-width: 768px) {
    .products_list_section {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px !important;
        font-weight: bold !important;
        text-decoration: underline !important;
    }

    #gallery-list-section {
        width: 100%;
        margin-bottom: 5%;
        position: relative;
        transform: rotate(90deg);
    }

    .gallery-list-header {
        width: 100%;
        font-size: 20px;
        font-weight: bold;
        position: relative;
        font-size: 15px !important;
        font-weight: bold !important;
        text-decoration: underline !important;
    }
}
