#mobileNavbar_container {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #eeee;
    background-image: url('../../assets/icons/Frame.png');
    background-size: contain;
}

#mobileNavbar_logo {
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#dropdown {
    width: 100%;
}

#mobileNavbar_menuItem {
    width: 100%;
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
}

#mobileNavbar_buttons {
    width: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#mobileNavbar_buttons_style {
    font-size: 20px;
    text-transform: none;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: black;
}

@media (max-width: 768px) {
    #mobileNavbar_container {
        height: 250px;
        background-image: url('../../assets/icons/Frame.png');
        background-repeat: no-repeat;
        flex-direction: column-reverse;
    }

    #mobileNavbar_logo {
        width: 50%;
    }

    #mobileNavbar_buttons_style {
        gap: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
