.form_container {
    padding: 20px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.form_images_container {
    display: inline-flex;
    margin: 10px;
    margin-top: 3%;
    margin-bottom: 3%;
    position: relative;
}

.form_sub_header_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.form_submit_inner_container {
    width: 45%;
    align-items: center;
    display: inline-flex;
    justify-content: space-evenly;
}

@media only screen and (max-width: 600px) {
    .form_container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form_sub_header_container {
        margin-top: 20px;
    }

    .form_submit_inner_container {
        width: 100%;
        display: flex;
        gap: 50px;
    }
}
