#sign_background {
    display: flex;
    justify-content: center;
    background: url("../../assets/icons/Frame.png");
    /* background: linear-gradient(to right, white 50%, #ffceae 50%); */
}

.sign_icon {
    height: 85%;
    width: 40%;
    position: absolute;
    top: 15%;
    left: 50%;
}

#sign_container {
    height: 100vh;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sign_inner_container {
    height: 550px;
    width: 500px;
    box-shadow: 3px 4px 15px 4px #eeee;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    margin-left: 1%;
    padding: 20px;
    flex-direction: column;
    gap: 20px;
}

.sign_inputs {
    color: white;
    width: 500px;
    box-shadow: 3px 4px 15px 4px #eeee;
}

#sign_reset_password_link {
    font-weight: bold;
    color: #f47458;
}

#sign_button_container {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    .sign_icon {
        display: none;
    }

    #sign_container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }

    #sign_inner_container {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .sign_inputs {
        width: 100%;
    }

    #sign_reset_password_container {
        flex-direction: column;
    }

    #sign_background {
        background: url("../../assets/icons/Frame.png");
        /* background: linear-gradient(to right, white 50%, #ffceae 50%); */
    }
}
