@media screen and (max-width: 880px) {
    #logo_button {
        position: relative;
        left: 10%;
        bottom: 10px;
        height: 20px;
        width: 130px;
        font-size: 13px;
    }
}
