#vertical_list_container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 500px;
}

#vertical_list {
    display: flex;
    overflow: hidden;
    gap: 20px;
}

@media only screen and (max-width: 768px) {
    #vertical_list_container {
        height: auto;
    }

    #vertical_list {
        padding: 15px;
    }

    .vertical_list_scroll_icon {
        display: flex;
        justify-content: center;
        height: 80px;
        width: 80px;
    }
}
