#footer_container {
    display: flex;
    margin: auto;
    height: 500px;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

#footer_inner_container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

#footer_sections_container {
    display: flex;
    gap: 220px;
}

#footer_sections {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: start;
}

@media only screen and (max-width: 940px) {
    #footer_container {
        width: fit-content;
        height: fit-content;
        margin-bottom: 25px;
    }

    #footer_sections_container {
        flex-direction: column;
        gap: 40px;
    }

    #footer_inner_container {
        display: none;
    }
    #footer_sections {
        width: 360px;
        padding: 10px;
        text-align: center;
        box-shadow: 3px 4px 15px 4px lightgray;
        border-radius: 250px;
        transform: scale(0.9);
    }
}
