#myFlexContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;
    color: white;
}

@media (max-width: 768px) {
    #myFlexContainer {
        height: auto;
        gap: 5px;
        padding: 5px;
        flex-direction: column;
        justify-content: space-around;
    }
}
