#gallery_list {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-areas: 
    'image0 image1 image2'
    'image0 image3 image4';
    gap: 10px;
    width: 65%;
    aspect-ratio: 3/1.5;
    margin: auto;
}

#gallery_list + div {
    /* height: 100%; */
    /* width: 100%; */
}

#gallery_image_0 {
    grid-area: image0;

}
#gallery_image_1 {
    grid-area: image1;

}
#gallery_image_2 {
    grid-area: image2;

}
#gallery_image_3 {
    grid-area: image3;

}
#gallery_image_4 {
    grid-area: image4;

}
