@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  /* Apply the animation to elements with the "fade-in" class */
  .fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
  }

  @keyframes moveLeftRight {
    0% {
      transform: translateX(-100%);
    }
    50% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  
  .moving-element {
    animation: moveLeftRight 5s cubic-bezier(0.4, 0, 0.6, 1) infinite; /* Adjust the duration and cubic-bezier values as needed */
  }

  @keyframes rotate-top {
    100% {
        transform: rotateX(-180deg);
        transform-origin: center;
    }
}

/* Keyframes for rotating from bottom to top */
@keyframes rotate-bottom {
    0% {
        transform: rotateX(180deg);
        transform-origin: center ;
    }
}

/* Apply the animation for rotating from top to bottom */
#filter-icon.rotateTop {
    animation: rotate-top 2s linear forwards;
}

/* Apply the animation for rotating from bottom to top */
#filter-icon.rotateBottom {
    animation: rotate-bottom 2s linear forwards;
}